/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"); */

body {
	margin: 0;
	padding: 0;
	background: #222;
	font-family: "Quicksand", sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.card {
	position: relative;
	margin: 20px 0;
	width: 600px; /* 1290 * 2796 */
	height: 1107px;
	background: #f2dcbb;
	transform-style: preserve-3d;
	transform: perspective(2000px);
	transition: 0.75s;
}

.card:hover {
	transform: perspective(2000px) rotate(-5deg);
}

.card .imgBox {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #000000;
	box-sizing: border-box;
	transform-origin: left;
	z-index: 1;
	transition: 0.75s;
}

.card:hover .imgBox {
	transform: rotateY(-130deg);
}

.card .imgBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .content {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 25px;
}

.card .content h2 {
	margin: 0;
	padding: 0;
	font-size: 2.3em;
}

.card .content p {
	margin-top: 10px;
	line-height: 1.35em;
}
