@import url("https://fonts.googleapis.com/css?family=Aleo");

:root {
	/* font-family: "Aleo", sans-serif; */
	font-family: "Aleo", KaiTi;
	/* --card-fg: #de9b38; */
	--card-fg: #de7538;
	--card-bg: #fcf3c7;
	--card-bg-deeper: #f5e38d;
}

body {
	margin: 0;
	padding: 0;
	background: #79130f;
	/* font-family: "Quicksand", sans-serif; */



	.container {
		position: absolute;
		left: calc((100vw - var(--card-width))/2);
		top: calc((100vh - var(--card-height))/2);
		/* display: flex; */
		align-items: center;
		justify-content: center;
		/* min-height: 100vh; */
		/* border: 2px solid blue; */
	}
}


.card {

	animation: swing 3s .15s linear infinite;
	/* animation: none; */

	&:hover {
		animation: rotate 5s;
		animation-fill-mode: forwards;
		/* transform: perspective(2000px) rotate(-5deg); */
	}




}

@keyframes rotate {

	50% {
		transform: perspective(2000px) rotate(-5deg);
	}
}

@keyframes swing {
	10% {
		transform: rotate(2deg);
	}

	20% {
		transform: rotate(-2deg);
	}

	30% {
		transform: rotate(2deg);
	}

	40% {
		transform: rotate(-2deg);
	}

	50%,
	100% {
		transform: rotate(0deg);
	}
}

.card .imgBox {
	position: relative;
	width: 100%;
	height: 100%;
	/* border: 1px solid #000000; */
	box-sizing: border-box;
	transform-origin: left;
	z-index: 1;
	transition: 0.75s;
}


#img-boom {
	animation: img-boom 2.5s infinite;
}

@keyframes img-boom {
	0% {
		height: 70%;
	}

	50% {
		height: 85%;
	}

	100% {
		height: 70%
	}
}

/* 竖屏 */
@media screen and (orientation: portrait) {

	:root {

		--card-width: 70vw;
		--card-height: 70vh;
	}




	.card:hover .imgBox {
		transform: rotateY(-130deg);
	}

	.card .imgBox img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card {

		--bg-color: #ba242b;

		/* margin: 5px; */
		position: relative;
		margin: 20px 0;
		width: var(--card-width);
		/* 1290 * 2796 */
		height: var(--card-height);
		background: var(--bg-color);
		transform-style: preserve-3d;
		transform: perspective(2000px);
		transition: 0.75s;
		box-shadow: -20px -20px 100px rgb(75, 12, 12);


		/* --edge-width: 6.7%;
	--edge-height: 7.1%; */
		--edge-width: 66px;
		--edge-height: 99px;

		--circle-diameter: 70px;

		.content {

			z-index: 0;
			background-color: var(--card-bg);
			position: absolute;
			width: calc(100% - var(--edge-width) * 2);
			left: var(--edge-width);
			height: calc(100% - var(--edge-height) * 2);
			top: var(--edge-height);
			box-sizing: border-box;
			/* padding: 25px; */
			/* padding-left: 10%;
			padding-right: 10%; */
			/* padding-top: 20%; */
			color: var(--card-fg);
			display: flex;
			flex-direction: column;

			.firework-area {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				/* border: 1px solid rgb(56, 105, 11); */
			}


			.text-container {

				/* padding: 0 10%; */
				margin: auto 10%;
				/* height: 100%; */

				/* align-items: center; */

				.text-center {
					text-align: center;
				}

				.text-right {
					text-align: right;
				}

				.title {
					font-size: 2.3em;
					font-weight: bold;
				}

				.sub-title {
					font-size: 1.4em;
				}

				.main-text-body {

					font-size: 1.8em;

					img {
						width: 100%;
					}
				}
			}



			.fan {
				/* position: absolute;
				bottom: 0%;
				width: 80%;
				left: 10%; */
				/* border: 2px solid rgb(112, 191, 38); */
				text-align: center;
				align-items: center;

				img {
					width: 40%;
					/* border: 2px solid black; */
				}
			}



		}


		.circle {


			z-index: 1;
			position: absolute;
			width: var(--circle-diameter);
			height: var(--circle-diameter);
			background: var(--card-bg);
			-webkit-border-radius: 50px;
			border-radius: 50px;
			/* border: 0.1px solid black; */
			transform: rotate(45deg);
			transform-origin: center;

			.circle-inner {

				position: absolute;
				--square-width: 70%;
				top: calc(50% - var(--square-width)/ 2);
				left: calc(50% - var(--square-width)/ 2);
				width: var(--square-width);
				height: var(--square-width);
				-webkit-border-radius: 50px;
				border-radius: 50px;
				background: var(--card-bg-deeper);
			}

			.square {
				position: absolute;
				--square-width: 35%;
				top: calc(50% - var(--square-width)/ 2);
				left: calc(50% - var(--square-width)/ 2);
				width: var(--square-width);
				height: var(--square-width);
				background: var(--bg-color);
				/* border: 1px solid green; */
				border-radius: 25%;

			}

		}

		#circle0 {
			left: calc(var(--edge-width) - var(--circle-diameter)/2);
			top: calc(var(--edge-height) - var(--circle-diameter)/2);
		}

		#circle1 {
			left: calc(var(--edge-width) - var(--circle-diameter)/2);
			bottom: calc(var(--edge-height) - var(--circle-diameter)/2);
		}

		#circle2 {
			right: calc(var(--edge-width) - var(--circle-diameter)/2);
			top: calc(var(--edge-height) - var(--circle-diameter)/2);
		}

		#circle3 {
			right: calc(var(--edge-width) - var(--circle-diameter)/2);
			bottom: calc(var(--edge-height) - var(--circle-diameter)/2);
		}

	}
}

/* 横屏 */
@media screen and (orientation: landscape) {
	:root {

		--card-width: 22vw;
		--card-height: 76vh;
	}




	.card:hover .imgBox {
		transform: rotateY(-130deg);
	}

	.card .imgBox img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card {

		--bg-color: #ba242b;

		/* margin: 5px; */
		position: relative;
		margin: 20px 0;
		width: var(--card-width);
		/* 1290 * 2796 */
		height: var(--card-height);
		background: var(--bg-color);
		transform-style: preserve-3d;
		transform: perspective(2000px);
		transition: 0.75s;
		box-shadow: -20px -20px 100px rgb(75, 12, 12);


		/* --edge-width: 6.7%;
	--edge-height: 7.1%; */
		--edge-width: 32px;
		--edge-height: 46px;

		--circle-diameter: 35px;

		.content {

			z-index: 0;
			background-color: var(--card-bg);
			position: absolute;
			width: calc(100% - var(--edge-width) * 2);
			left: var(--edge-width);
			height: calc(100% - var(--edge-height) * 2);
			top: var(--edge-height);
			box-sizing: border-box;
			/* padding: 25px; */
			/* padding-left: 10%;
			padding-right: 10%; */
			/* padding-top: var(--area-height) + 5%; */
			color: var(--card-fg);
			display: flex;
			flex-direction: column;

			.firework-area {
				/* z-index: 10; */
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				/* height: var(--area-height); */
				/* border: 1px solid rgb(56, 105, 11); */
			}

			.text-container {
				margin: auto 10%;

				/* border: 1px solid black; */

				.text-center {
					text-align: center;
				}

				.text-right {
					text-align: right;
				}

				.title {
					font-size: 22px;
					font-weight: bold;
				}

				.sub-title {
					font-size: 12px;
					/* font-weight: bold; */

				}

				.main-text-body {

					font-size: 15px;

					img {
						width: 100%;
						/* border: 2px solid black; */
					}
				}
			}



			.fan {
				/* position: absolute;
				bottom: 0%;
				left: 10%; */
				/* width: 80%; */
				/* border: 2px solid rgb(112, 191, 38); */
				text-align: center;
				align-items: center;

				img {
					width: 40%;
					/* border: 2px solid black; */
				}
			}

			/* p {
				margin-top: 10px;
				line-height: 1.35em;
			} */

		}


		.circle {


			z-index: 1;
			position: absolute;
			width: var(--circle-diameter);
			height: var(--circle-diameter);
			background: var(--card-bg);
			-webkit-border-radius: 50px;
			border-radius: 50px;
			/* border: 0.1px solid black; */

			transform: rotate(45deg);
			transform-origin: center;

			.circle-inner {

				position: absolute;
				--square-width: 70%;
				top: calc(50% - var(--square-width)/ 2);
				left: calc(50% - var(--square-width)/ 2);
				width: var(--square-width);
				height: var(--square-width);
				-webkit-border-radius: 50px;
				border-radius: 50px;
				background: var(--card-bg-deeper);
			}


			.square {
				position: absolute;
				--square-width: 35%;
				top: calc(50% - var(--square-width)/ 2);
				left: calc(50% - var(--square-width)/ 2);
				width: var(--square-width);
				height: var(--square-width);
				background: var(--bg-color);
				/* border: 1px solid green; */
				border-radius: 25%;
			}

		}

		#circle0 {
			left: calc(var(--edge-width) - var(--circle-diameter)/2);
			top: calc(var(--edge-height) - var(--circle-diameter)/2);
		}

		#circle1 {
			left: calc(var(--edge-width) - var(--circle-diameter)/2);
			bottom: calc(var(--edge-height) - var(--circle-diameter)/2);
		}

		#circle2 {
			right: calc(var(--edge-width) - var(--circle-diameter)/2);
			top: calc(var(--edge-height) - var(--circle-diameter)/2);
		}

		#circle3 {
			right: calc(var(--edge-width) - var(--circle-diameter)/2);
			bottom: calc(var(--edge-height) - var(--circle-diameter)/2);
		}

	}
}


html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: rgb(119, 13, 13);
	background: radial-gradient(circle,
			rgba(119, 13, 13, 0.92) 64%,
			rgba(0, 0, 0, 0.6) 100%);
}